{% extends 'base.html' %}

{% block content %}
<div class="container">
<br><br><br>

<h1>{{ dist }}</h1>

<p>There are {{ total_count }} school districts in Nebraska.
Those districts have {{ school_count }} schools.</p>

{{ dist }}

<h3> Schools</h3>
<ul> {% for object in schools %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.schoolname }}</a></li></li>

{% endfor %}
</ul>
<h2 class="sub-header">{{ dist }} Dropout Rate</h2>   
     <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>Dropout rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>{% for object in drop %}
                  <td>{{ object.school_year }}</td>
                  <td>{{ object.dropout_rate }}</td>
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div> 



</div>
{% endblock %}