{% extends 'base.html' %}

{% block content %}
<div class="container">
<br><br><br>

<h1>Nebraska Schools</h1>
<h3>The Nebraska Department of Education gathers yearly data on Nebraska's {{ total_count }} school districts and {{ school_count }} schools. Search for your school or select a district from the list below.</h3>



<h5>School districts</h5>

<ul>{% for object in districts %}
<li><a href="{{ object.get_absolute_url }}">{{ object.distname }}</a></li>


{% endfor %}</ul>
</div>
{% endblock %}