{% extends 'base.html' %}
{% load math %}
{% block content %}
<div class="container">
<br><br><br>

<h1>{{ school }}</h1>
<p>{{ school }} 
    {% with enrollment_objects|first as recent_enrollment %} has {{ recent_enrollment.enrollment }} students according to the latest data from the Nebraska Department of Education.{% endwith %}

    
    
    {% with ell_objects|first as recent_ell %}{% if recent_ell %}
    Of those students, {% mult recent_ell.ellpct 100 %} percent recieve free or reduced lunch.{% endif %}{% endwith %}
    
    {% if grad_objects %}{% with grad_objects|first as recent_grad %}{% if recent_grad != "-1.0"%}
    Of those students, {% percent recent_grad.grad_pct %} percent graduated.
    {% else %}{% endif %}
    {% endwith %}{% endif %}
    
    {% with act_objects|first as recent_act %}{% if recent_act %}
    The composite ACT score of this school is: {{ recent_act.actcomposite }}.
    {% else %}{% endif %}
    {% endwith %}
    
    </p>
    
{% if ell_objects %}
<h2 class="sub-header">ELL percentage</h2>   
     <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>ELL percent</th>
                </tr>
              </thead>
              <tbody>
                <tr>{% for object in ell_objects %}
                  <td>{{ object.school_year }}</td>
                  <td>{% if ellpct != "-1.0"%}{% percent object.ellpct %}%{% else %}{{ object.ellpct }}{% endif %}</td>
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div>    
    {% endif %}
<h2 class="sub-header">Enrollment</h2>   
     <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>Enrollment</th>
                </tr>
              </thead>
              <tbody>
                <tr>{% for object in enrollment_objects %}
                  <td>{{ object.school_year }}</td>
                  <td>{{ object.enrollment }}</td>
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div>    
    
<h2 class="sub-header">Federal Accountability</h2>   
     <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>Grade tested</th>
                  <th>Status</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody>
                <tr>{% for object in fed_objects %}
                  <td>{{ object.school_year }}</td>
                  <td>{{ object.grade_tested }}</td>
                  <td>{{ object.year_testedstatus }}</td>
                  <td>{{ object.change }}</td>
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div>    
{% if frl_objects %}    
<h2 class="sub-header">Free and Reduced Lunch</h2> 
     <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Percent</th>
                </tr>
              </thead>
              <tbody>
                 <tr>{% for object in frl_objects %} 
                  {% if object.FRLpct %} <td>{% if FRLpct != "-1.0"%}{% percent object.FRLpct %}%{% else %}{{ object.FRLpct }}{% endif %}</td> {% else %}<td></td} {% endif %}
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div>    
{% endif %}
    {% if nesa_objects %}
<!-- {% if object. %} <td>{{ object. }}</td> {% else %} {% endif %} -->
<h2 class="sub-header">NESA scores</h2> 
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>Grade Tested</th>
                  <th>Math Average Score</th>
                  <th>Math basic percent</th>
                  <th>Math proficent percent</th>
                  <th>Math advanced percent</th>
                  {% if object.math_not_tested_pct %}<th>Math not tested</th>{% else %}<td></td>{% endif %}
                  <th>Reading Average Score</th>
                  <th>Reading basic percent</th>
                  <th>Reading proficent percent</th>
                  <th>Reading advanced percent</th>
                  {% if object.reading_not_tested_pct %}<th>Reading not tested</th>{% else %}<td></td>{% endif %}
                  <th>Science Average Score</th>
                  <th>Science basic percent</th>
                  <th>Science proficent percent</th>
                  <th>Science advanced percent</th>
                   {% if object.science_not_tested_pct %}<th>Science not tested</th>{% else %}<td></td>{% endif %}
                  <th>Writing Average Score</th>
                  <th>Writing basic percent</th>
                  <th>Writing proficent percent</th>
                  <th>Writing advanced percent</th>
{% if object.writing_not_tested_pct %}<th>Writing not tested</th>{% else %}<td></td>{% endif %}                </tr>
              </thead>
              <tbody>
                <tr>{% for object in nesa_objects %}
                    {% if object.school_year %}<td>{{ object.school_year }}</td>{% else %}<td></td>{% endif %}
                    {% if object.grade %}<td>{{ object.grade }}</td>{% else %}<td></td>{% endif %}
                  {% if object.math_avg_score %}<td>{{ object.math_avg_score }}</td>{% else %}<td></td>{% endif %}
                  {% if object.math_basic_pct %}<td>{{ object.math_basic_pct }}</td>{% else %}<td></td>{% endif %}
                  {% if object.math_proficent_pct %}<td>{{ object.math_proficent_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.math_advanced_pct %}<td>{{ object.math_advanced_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.math_not_tested_pct %}<td>{{ object.math_not_tested_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.reading_avg_score %}<td>{{ object.reading_avg_score }}</td>{% else %}<td></td> {% endif %}
                  {% if object.reading_basic_pct %}<td>{{ object.reading_basic_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.reading_proficent_pct %}<td>{{ object.reading_proficent_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.reading_advanced_pct %}<td>{{ object.reading_advanced_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.reading_not_tested_pct %}<td>{{ object.reading_not_tested_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.science_avg_score %}<td>{{ object.science_avg_score }}</td>{% else %}<td></td> {% endif %}
                  {% if object.science_basic_pct %}<td>{{ object.science_basic_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.science_proficent_pct %}<td>{{ object.science_proficent_pct }}</td>{% else %}<td></td>{% endif %}
                  {% if object.science_advanced_pct %}<td>{{ object.science_advanced_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.science_not_tested_pct %}<td>{{ object.science_not_tested_pct }}</td>{% else %} <td></td>{% endif %}
                  {% if object.writing_avg_score %}<td>{{ object.writing_avg_score }}</td>{% else %}<td></td> {% endif %}
                  {% if object.writing_basic_pct %}<td>{{ object.writing_basic_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.writing_proficent_pct %}<td>{{ object.writing_proficent_pct }}</td>{% else %}<td></td> {% endif %}
                  {% if object.writing_advanced_pct %}<td>{{ object.writing_advanced_pct }}</td>{% else %} <td></td>{% endif %}
                  {% if object.writing_not_tested_pct %}<td>{{ object.writing_not_tested_pct }}</td>{% else %} <td></td>{% endif %}
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div>    
    {% endif %}
    
    {% if grad_objects %}
<h2 class="sub-header">Graduation rates</h2>   
     <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>Graduation percent</th>
                </tr>
              </thead>
              <tbody>
                <tr>{% for object in grad_objects %}
                  <td>{{ object.school_year }}</td>
                    {% if object.grad_pct == '-1.0' %} <td></td> {% else %}<td>{% percent object.grad_pct %}%</td> {% endif %}
                </tr>{% endfor %}
              </tbody> 
            </table>
          </div> 
    {% endif %}
    
{% if act_objects %}
<h2 class="sub-header">ACT scores</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>School year </th>
                  <th>Reading</th>
                  <th>Math</th>
                  <th>Science</th>
                  <th>English</th>
                  <th>Composite</th>    
                </tr>
              </thead>
              <tbody>
                <tr>{% for object in act_objects %}
                  <td>{{ object.school_year }}</td>
                  <td>{{ object.actreading }}</td>
                  <td>{{ object.actmath }}</td>
                  <td>{{ object.actscience }}</td>
                  <td>{{ object.actenglish }}</td>
                  <td>{{ object.actcomposite }}</td>
                </tr>{% endfor %}
              </tbody> 
            </table>
              {% endif %}
          </div>    
</div>
{% endblock %}